<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/forma02.css" />
  </head>
  <body>
    <a href="../index.html">Home</a>

    <form class="feedback-form">
      <textarea name="message"></textarea>
      <button type="submit">Send feedback</button>
    </form>

    <script src="../js/forma02.js" type="module"></script>
  </body>
</html>
